.dashboard-container {
  margin: 1rem 7.85rem;
  display: flex;
  flex-direction: column;
}
.dashboard-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.upper .dashboard-item {
  flex: 1;
  height: 356px;
  background-color: #c4c4c4;
  margin: 0 2.15rem;
}
.upper .dashboard-item:first-child {
  flex: 2;
}

.lower .dashboard-item {
  flex: 1;
  margin: 3rem 2.15rem;
  height: 225px;
  background-color: #c4c4c4;
}
